.top,
.buttom {
  font-size: 23px;
  text-align: center;
  margin-top: 50px;
}
.wrapper , .wrapperButtom{
  width: 85%;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
}

.wrapper .carousel , .wrapperButtom .carouselButtom{
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  scroll-behavior: smooth;
  justify-content: space-around;
  gap: 63px;
  padding-inline: 61px;
}
 .dragging {
  scroll-behavior: auto;
  cursor: grab;
}
 .dragging img {
  pointer-events: none;
}
.wrapper .carousel div,
.wrapperButtom .carouselButtom div {
  margin-bottom: 23px;
  display: grid;
}

.wrapper .carousel div span,
.wrapperButtom .carouselButtom div span {
  padding-left: 19px;
  padding-top: 26px;
}

div img:hover {
  transform: translateY(-2%);
}

 .prev ,  .prevButtom,
 .next , .nextButtom {
  text-align: center;
  line-height: 46px;
  cursor: pointer;
  margin-bottom: 54px;
}

.buttom {
  margin-bottom: 40px;
}
