.main-div{
    gap: 77px;
}

.part-top #search-input {
  width: 554px;
  height: 37px;
  border: none;
  font-size: 15px;
  border-bottom-style: groove;
  background-color: transparent;
}

.mybox {
    background-color: white;
    width: 327px;
    padding: 6px 23px;
    box-shadow: 0px 0px 1px #282828;
    border-radius: 6px;
    height: 287px;
    overflow: hidden;
    cursor: pointer;
    line-height: 23px;
    transition: 0.2s;
    margin-bottom: 25px
}

.mybox .img {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 21px;
}

















